<section id="resume-skills-block" class="bg-white">
        <div class="container">
            <h1 class="resume-section-title">Our Benefits<span class="under-line" style="background-color: #75B81B"></span></h1>
            <div class="resume-skills">

                <div class="one_third benefit-item first " style="text-align: center;">
                    <div class="benefit-content">
                        <span class="company-services-icon" style="background-color: #75B81B"><i class="fa fa-dollar"></i></span>
                        <span class="company-services-devider"></span>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle" class="company-services-title" style="height: 37px;">
                                        A share in the profits <span class="under-line" style="background-color: #75B81B"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="company-services-desc" style="height: 117px;"><p>We work as a team, so every quarter we share our profits as a team.</p>
</span>
                    </div>
                </div>


                <div class="one_third benefit-item " style="text-align: center;">
                    <div class="benefit-content">
                        <span class="company-services-icon" style="background-color: #75B81B"><i class="fa fa-coffee"></i></span>
                        <span class="company-services-devider"></span>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle" class="company-services-title" style="height: 37px;">
                                        Space to create <span class="under-line" style="background-color: #75B81B"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="company-services-desc" style="height: 117px;"><p>Our office design reflects who we are and the way we work. With the latest technology, space to collaborate, and the world’s best coffee machine, it’s no wonder our people finish their day with a smile on their face.</p>
</span>
                    </div>
                </div>


                <div class="one_third benefit-item " style="text-align: center;">
                    <div class="benefit-content">
                        <span class="company-services-icon" style="background-color: #75B81B"><i class="fa fa-user-md"></i></span>
                        <span class="company-services-devider"></span>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle" class="company-services-title" style="height: 37px;">
                                        Healthy body &amp; mind <span class="under-line" style="background-color: #75B81B"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="company-services-desc" style="height: 117px;"><p>We’re an active bunch and encourage and support all ansaradans to keep fit and healthy. Your individual health and wellbeing is important to us and we offer family healthcare plans so that you and your loved ones are covered.</p>
</span>
                    </div>
                </div>


                <div class="one_third benefit-item first " style="text-align: center;">
                    <div class="benefit-content">
                        <span class="company-services-icon" style="background-color: #75B81B"><i class="fa fa-file-image-o"></i></span>
                        <span class="company-services-devider"></span>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle" class="company-services-title" style="height: 37px;">
                                        Make a difference <span class="under-line" style="background-color: #75B81B"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="company-services-desc" style="height: 117px;"><p>Our passion for making life easier extends beyond the world of M&amp;A. Every year you get 4 days paid leave to help a charitable cause of your choice to make life easier for others in need.</p>
</span>
                    </div>
                </div>


                <div class="one_third benefit-item " style="text-align: center;">
                    <div class="benefit-content">
                        <span class="company-services-icon" style="background-color: #75B81B"><i class="fa fa-graduation-cap"></i></span>
                        <span class="company-services-devider"></span>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle" class="company-services-title" style="height: 37px;">
                                        Set up for success <span class="under-line" style="background-color: #75B81B"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="company-services-desc" style="height: 117px;"><p>We believe great performance comes from coaching, regular check-ins and a personal development plan for your career goals. Our welcome pack even includes an Amazon Kindle to help get you started.</p>
</span>
                    </div>
                </div>


                <div class="one_third benefit-item " style="text-align: center;">
                    <div class="benefit-content">
                        <span class="company-services-icon" style="background-color: #75B81B"><i class="fa fa-plane"></i></span>
                        <span class="company-services-devider"></span>
                        <table width="100%">
                            <tbody>
                                <tr>
                                    <td align="center" valign="middle" class="company-services-title" style="height: 37px;">
                                        Travel to Sydney <span class="under-line" style="background-color: #75B81B"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <span class="company-services-desc" style="height: 117px;"><p>The Vietnam team will collaborate daily via video conferencing with our Design and Development teams located in Sydney. But what better way to build relationships and get to know us better than by spending time in our Sydney head office? All new hires have the opportunity to travel down under, meet the team and sample Vegemite!</p>
</span>
                    </div>
                </div>


            </div>

        </div>
    </section>