<div>

        <div>
            <div>
                <span class="banner-hello">
					<img src="./ansarada in partnership with PYCOGROUP - Company Profile_files/ansarada-in-partnership-with-PYCOGROUP-logo.png" alt="">
				</span>
                <div>
                    <h1>
						ansarada in partnership with PYCOGROUP					</h1>
                    <ul>
                        <li><span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                            <p>
                                Ho Chi Minh</p>
                        </li>
                        <li><span><i class="fa fa-tags" aria-hidden="true"></i></span>
                            <p>
                                IT - Software</p>
                        </li>
                        <li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span>
                            <p>Product development</p>
                        </li>
                        <li><span><i class="fa fa-globe" aria-hidden="true"></i></span>
                            <p>
                                <a href="http://ansarada.com/" target="_blank" class="company-link">
										ansarada.com</a>
                            </p>
                        </li>
                        <!--					<li><span><i class="fa fa-briefcase" aria-hidden="true"></i></span> 17 Jobs</li>-->

                    </ul>
                    <span>
				<a href="http://topit.vietnamworks.com/companies/"><i class="fa fa-home"></i></a> <i class="fa fa-chevron-right"></i> <a href="http://topit.vietnamworks.com/companies//companies">Companies</a> <i class="fa fa-chevron-right"></i>  </span>
                </div>
            </div>
        </div>
        <div >
            <img src="./ansarada in partnership with PYCOGROUP - Company Profile_files/ansarada-in-partnership-with-PYCOGROUP-cover.jpg" alt="">
        </div>

    </div>