<section id="coding-practices">
        <div class="container">
            <h1 class="resume-section-title">Coding Practices<span class="under-line" style="background-color: #75B81B"></span></h1>
            <div class="coding-practices-listing">
                <div class="coding-practices-content">
                    <h2> <span><span class="highlight">11</span>/12</span></h2>

                    <ul>
                        <li>
                            <span class="icon"><i class="fa fa-check"></i></span> <span class="number">1.</span>
                            <span class="text"> Do you use source control?</span>
                        </li>

                        <li>
                            <span class="icon"><i class="fa fa-check"></i></span> <span class="number">2.</span>
                            <span class="text"> Can you make a build in one step?</span>
                        </li>

                        <li>
                            <span class="icon"><i class="fa fa-check"></i></span> <span class="number">3.</span>
                            <span class="text"> Do you make daily builds?</span>
                        </li>

                        <li>
                            <span class="icon"><i class="fa fa-check"></i></span> <span class="number">4.</span>
                            <span class="text"> Do you have a bug database?</span>
                        </li>

                        <li>
                            <span class="icon"><i class="fa fa-check"></i></span> <span class="number">5.</span>
                            <span class="text"> Do you fix bugs before writing new code?</span>
                        </li>

                        <li>
                            <span class="icon"><i class="fa fa-check"></i></span> <span class="number">6.</span>
                            <span class="text"> Do you have an up-to-date schedule?</span>
                        </li>

                        <li>
                            <span class="icon"><i class="fa fa-check"></i></span> <span class="number">7.</span>
                            <span class="text"> Do you have a spec?</span>
                        </li>

                        <li>
                            <span class="icon"><i class="fa fa-check"></i></span> <span class="number">8.</span>
                            <span class="text"> Do programmers have quiet working conditions?</span>
                        </li>

                        <li>
                            <span class="icon"><i class="fa fa-check"></i></span> <span class="number">9.</span>
                            <span class="text"> Do you use the best tools money can buy?</span>
                        </li>

                        <li>
                            <span class="icon"><i class="fa fa-check"></i></span> <span class="number">10.</span>
                            <span class="text"> Do you have testers?</span>
                        </li>

                        <li>
                            <span class="icon"><i class="fa fa-times"></i></span> <span class="number">11.</span>
                            <span class="text"> Do new candidates write code during their interview?</span>
                        </li>

                        <li>
                            <span class="icon"><i class="fa fa-check"></i></span> <span class="number">12.</span>
                            <span class="text"> Do you do hallway usability testing?</span>
                        </li>

                    </ul>
                    <p class="text-note"></p>
                    <div class="key-technologies">
                        <h2>Key Technologies</h2>
                        <ul>
                            <li><span>C#</span>
                            </li>
                            <li><span>Database</span>
                            </li>
                            <li><span>SQL</span>
                            </li>
                            <li><span>.NET</span>
                            </li>
                            <li><span>MySQL</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>