<section id="resume-portfolio-block">

        <div class="container">

            <h1 class="resume-section-title">Our Office<span class="under-line" style="background-color: #75B81B"></span></h1>

            <section class="ff-container our-office">
                <div class="portfolio-navi">


                    <input id="select-type-all" name="radio-set-1" type="radio" class="ff-selector-type-all" checked="checked">
                    <label for="select-type-all" class="ff-label-type-all">All</label>



                    <style>
                        .ff-container input.ff-selector-type-<p>Etown 1_3rd Floor_</p> <p>364 Cong Hoa Street_Tan Binh District_</p> <p>Ho Chi Minh City</p>:checked ~ label.ff-label-type-<p>Etown 1_3rd Floor_</p> <p>364 Cong Hoa Street_Tan Binh District_</p> <p>Ho Chi Minh City</p> {
                            background: #999;
                            color: #fff;
                            padding: 10px 20;
                        }
                        .ff-container input.ff-selector-type-<p>Etown 1_3rd Floor_</p> <p>364 Cong Hoa Street_Tan Binh District_</p> <p>Ho Chi Minh City</p>:checked ~ .ff-items .ff-item-type-<p>Etown 1_3rd Floor_</p> <p>364 Cong Hoa Street_Tan Binh District_</p> <p>Ho Chi Minh City</p> {
                            opacity: 1;
                        }
                        .ff-container input.ff-selector-type-<p>Etown 1_3rd Floor_</p> <p>364 Cong Hoa Street_Tan Binh District_</p> <p>Ho Chi Minh City</p>:checked ~ .ff-items li:not(.ff-item-type-<p>Etown 1_3rd Floor_</p> <p>364 Cong Hoa Street_Tan Binh District_</p> <p>Ho Chi Minh City</p>) {
                            opacity: 0.1;
                        }
                        .ff-container input.ff-selector-type-<p>Etown 1_3rd Floor_</p> <p>364 Cong Hoa Street_Tan Binh District_</p> <p>Ho Chi Minh City</p>:checked ~ .ff-items li:not(.ff-item-type-<p>Etown 1_3rd Floor_</p> <p>364 Cong Hoa Street_Tan Binh District_</p> <p>Ho Chi Minh City</p>) span {
                            display: none;
                        }

                    </style>

                    <input id="select-type-&lt;p&gt;Etown 1_3rd Floor_&lt;/p&gt;

&lt;p&gt;364 Cong Hoa Street_Tan Binh District_&lt;/p&gt;

&lt;p&gt;Ho Chi Minh City&lt;/p&gt;
" name="radio-set-1" type="radio" class="ff-selector-type-&lt;p&gt;Etown 1_3rd Floor_&lt;/p&gt;

&lt;p&gt;364 Cong Hoa Street_Tan Binh District_&lt;/p&gt;

&lt;p&gt;Ho Chi Minh City&lt;/p&gt;
">
                    <label for="select-type-&lt;p&gt;Etown 1_3rd Floor_&lt;/p&gt;

&lt;p&gt;364 Cong Hoa Street_Tan Binh District_&lt;/p&gt;

&lt;p&gt;Ho Chi Minh City&lt;/p&gt;
" class="ff-label-type-&lt;p&gt;Etown 1_3rd Floor_&lt;/p&gt;

&lt;p&gt;364 Cong Hoa Street_Tan Binh District_&lt;/p&gt;

&lt;p&gt;Ho Chi Minh City&lt;/p&gt;
">
                        <p>Etown 1, 3rd Floor,</p>

                        <p>364 Cong Hoa Street, Tan Binh District,</p>

                        <p>Ho Chi Minh City</p>
                    </label>


                </div>


                <div class="clr"></div>

                <ul class="ff-items  animate">


                    <li class="ff-item-type- first" style="background-color: #75B81B">
                        <div class="ff-item-content" style="background: url(http://topit.vietnamworks.com/companies/wp-content/uploads/2016/07/ansarada-in-partnership-with-PYCOGROUP-office-1.jpg)"></div>
                    </li>


                    <li class="ff-item-type- " style="background-color: #75B81B">
                        <div class="ff-item-content" style="background: url(http://topit.vietnamworks.com/companies/wp-content/uploads/2016/07/ansarada-in-partnership-with-PYCOGROUP-office-2.jpg)"></div>
                    </li>


                    <li class="ff-item-type- " style="background-color: #75B81B">
                        <div class="ff-item-content" style="background: url(http://topit.vietnamworks.com/companies/wp-content/uploads/2016/07/ansarada-in-partnership-with-PYCOGROUP-office-3.jpg)"></div>
                    </li>


                    <li class="ff-item-type- first" style="background-color: #75B81B">
                        <div class="ff-item-content" style="background: url(http://topit.vietnamworks.com/companies/wp-content/uploads/2016/07/ansarada-in-partnership-with-PYCOGROUP-office-4.jpg)"></div>
                    </li>


                    <li class="ff-item-type- " style="background-color: #75B81B">
                        <div class="ff-item-content">
                            <h3> ADDRESS</h3>
                            <p> </p>
                            <p>Etown 1, 3rd Floor,</p>

                            <p>364 Cong Hoa Street, Tan Binh District,</p>

                            <p>Ho Chi Minh City</p>
                            <p></p>
                        </div>
                    </li>


                    <li class="ff-item-type- " style="background-color: #75B81B">
                        <div class="ff-item-content" style="background: url(http://topit.vietnamworks.com/companies/wp-content/uploads/2016/07/ansarada-in-partnership-with-PYCOGROUP-office-6.jpg)"></div>
                    </li>


                    <li class="ff-item-type- first" style="background-color: #75B81B">
                        <div class="ff-item-content" style="background: url(http://topit.vietnamworks.com/companies/wp-content/uploads/2016/07/ansarada-in-partnership-with-PYCOGROUP-office-7.jpg)"></div>
                    </li>


                    <li class="ff-item-type- " style="background-color: #75B81B">
                        <div class="ff-item-content" style="background: url(http://topit.vietnamworks.com/companies/wp-content/uploads/2016/07/ansarada-in-partnership-with-PYCOGROUP-office-8-1.jpg)"></div>
                    </li>


                    <li class="ff-item-type- " style="background-color: #75B81B">
                        <div class="ff-item-content" style="background: url(http://topit.vietnamworks.com/companies/wp-content/uploads/2016/07/ansarada-in-partnership-with-PYCOGROUP-office-9.jpg)"></div>
                    </li>


                </ul>

            </section>

        </div>

    </section>